
.maroon {
    background-color: rgb(121, 14, 14);
    text-align: center;
    color: snow;
    width: 70%;
    height: 60px;
}
.beige {
    background-color: rgb(241, 237, 171);
    text-align: left;
    color: black;
    width: 70%;

}
div{
    display: block;
}
.X {
    background-color: rgb(218, 213, 213);
    text-align: center;
    display: flex;
    display: grid;
    justify-content: center;
    margin: auto;

}
#Y {
    color: orange;
    text-decoration: underline;
    
}
.split {
    float: left;
    width:50%;

}
.split2{
    width: 60%;
    height:260%;
}
.split3{
    float: right;
    width: 50%;
}



.split4 {
    float: left;
    width:25%;
}
.split5 {
    float: right;
    width:50%;
}
.column {
    float: left;
    width: 20%;
}
